@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(109, 71, 217, 0.4);
  }
  70% {
    box-shadow: 0 0 0 7px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
