.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #454545;
  transition: all 0.25s ease-out;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 16px;
    height: 16px;
  }
  &:hover {
    background-color: #6d47d9;
  }
}
