@import '../../shared-styles/animations/fade-in.css';
.button {
  background-color: #6d47d9;
  color: #fcfcfc;
  border-radius: 4px;
  display: block;
  padding: 0 12px;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  transition: background-color 0.25s ease;
  &:hover {
    background-color: #5c32d5;
  }
}
.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  background-color: #fcfcfc;
  color: #272727;
  line-height: 1.5;
  padding: 25px;
  border-radius: 8px;
  margin-bottom: 24px;
  animation: fadeIn 1s ease 0.2s 1 normal forwards running;
  .edit {
    display: flex;
    align-items: center;
    .edit-button {
      margin-left: 28px;
    }
  }
  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  .username {
    font-size: 3rem;
    font-weight: bold;
  }
  .email {
    font-size: 1.6rem;
    margin: 14px 0;
  }
  .info {
    max-width: 330px;
  }
  @media (max-width: 630px) {
    flex-direction: column;
    align-items: center;
    > img,
    > button {
      order: -1;
    }
    .username,
    .email,
    .info {
      text-align: center;
    }
    .username {
      margin: 14px 0;
    }
    .edit {
      flex-direction: column;
      .edit-button {
        margin: 0;
      }
    }
  }
}
.field-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  color: #272727;
  input,
  textarea {
    line-height: 1.5;
    background: transparent;
    padding: 10px 15px;
    border: 1px solid #eee;
    &.error {
      border-color: #f01;
    }
  }
  input {
    font-size: 3rem;
    font-weight: bold;
  }
  textarea {
    font-size: 1.6rem;
    width: 100%;
    resize: none;
  }
  span {
    font-size: 1.3rem;
    color: #f01;
    margin-top: 2px;
  }
}
.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 630px) {
    width: 100%;
    margin-top: 14px;
    .buttons {
      width: 100%;
      > button {
        flex: 1;
      }
    }
  }
  .buttons {
    display: flex;
    .cancel-button {
      background-color: transparent;
      color: #272727;
      margin-left: 14px;
      &:hover {
        background-color: transparent;
      }
    }
  }
}
