@import './animations/fade-in.css';
.story {
  max-width: 700px;
  margin: 0 auto;
  padding: 104px 24px 0 24px;
  &.dark {
    .title,
    .body {
      color: #b8b8b8;
    }
  }
}
.title,
.body {
  font-family: 'PT Serif', system-ui;
  color: #272727;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title {
  font-size: 3.2rem;
  font-weight: 700;
  margin: 24px 0;
  opacity: 0;
  animation: fadeIn 1s ease 0.2s 1 normal forwards running;
}
.body {
  font-size: 1.8rem;
  line-height: 2.8rem;
  opacity: 0;
  animation: fadeIn 1s ease 0.7s 1 normal forwards running;
  margin-bottom: 14px;
}
.form-story {
  .title,
  .body {
    opacity: 1;
    animation: initial;
  }
  input,
  textarea {
    width: 100%;
    font-family: 'PT Serif', system-ui;
    border: none;
    color: #272727;
  }
  textarea {
    min-height: 500px;
  }
  .genres {
    margin-bottom: 24px;
  }
  .error-message {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'PT Sans', system-ui;
    color: #f01;
    margin-top: 4px;
  }
  button[type='submit'] {
    width: 100%;
    margin: 24px 0;
  }
  &.dark {
    input,
    textarea,
    button {
      color: #b8b8b8;
    }
    button[type='submit'] {
      color: #272727;
      background-color: #b8b8b8;
    }
  }
}
