.wrapper {
  display: flex;
  cursor: pointer;
  &:hover .name-with-date .name::after {
    width: 100%;
  }
}
.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 14px;
}
.name-with-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .name {
    display: flex;
    color: #6d47d9;
    font-weight: bold;
    position: relative;
    &::after {
      content: '';
      border-bottom: 3px solid #6d47d9;
      position: absolute;
      width: 0%;
      bottom: -1px;
      transform: translateX(-50%);
      transition: width 0.4s;
      transition-timing-function: cubic-bezier(1, -0.65, 0, 2.31);
      left: 50%;
    }
  }
  .date {
    margin-top: 4px;
    color: #aaa;
    font-size: 1rem;
  }
}
