.wrapper::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #f3f1ef;
  background-image:
    url('/static/images/topography.svg'),
    linear-gradient(20deg, #f3f1ef, #f3f1ef);
  background-repeat: repeat;
  background-size: 200px, auto;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 380px));
  justify-content: center;
}
