@import '../../styles/animations/fade-in.css';
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  animation: fadeIn 0.25s ease-in-out;
  @media (max-width: 768px) {
    background: transparent;
  }
}
.content {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 200px;
  min-height: 200px;
  padding: 50px 24px 24px;
  background: #fcfcfc;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  @media (max-width: 768px) {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    transform: initial;
  }
}
.close-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #fcfcfc;
  border-top-right-radius: 8px;
  transition: background-color 0.25s ease-in-out;
  &:hover {
    background-color: #eee;
  }
  img {
    width: 20px;
    height: 20px;
  }
}
