.login {
  margin-top: 36px;
  margin-bottom: 32px;
}
.back-button {
  height: 40px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #222;
  background-color: #eee;
  &:hover {
    background-color: #ddd;
  }
}
