.story {
  max-width: 700px;
  padding: 104px 24px 0 24px;
  margin: 0 auto;
}
.title {
  margin: 18px 0;
  font-family: Montserrat, sans-serif;
  font-size: 4.2rem;
  font-weight: 900;
  line-height: 1.2;
}
.body {
  margin-bottom: 14px;
  font-family: Alegreya, serif;
  font-size: 2rem;
  line-height: 26px;
}
.title,
.body {
  overflow: hidden;
  color: #222;
  text-overflow: ellipsis;
}
.story.dark {
  .title,
  .body {
    color: #b8b8b8;
  }
}
.form-story {
  input {
    font-family: Montserrat, sans-serif;
    font-size: 4.2rem;
    font-weight: 900;
    line-height: 1.2;
  }
  input,
  textarea {
    width: 100%;
    color: #222;
    border: none;
  }
  textarea {
    min-height: 500px;
    font-family: Alegreya, serif;
    font-size: 2rem;
    line-height: 26px;
  }
  .genres {
    margin-bottom: 24px;
  }
  .error-message {
    display: block;
    margin-top: 4px;
    font-family: 'Montserrat', system-ui;
    font-size: 1.2rem;
    font-weight: 400;
    color: #f01;
  }
  button[type='submit'] {
    width: 100%;
    margin: 24px 0;
  }
  &.dark {
    input,
    textarea,
    button {
      color: #b8b8b8;
    }
    button[type='submit'] {
      color: #222;
      background-color: #b8b8b8;
    }
  }
}
