.story-body {
  margin-bottom: 14px;
  &:last-child {
    margin-bottom: 0;
  }
}
.story-wrapper {
  min-height: 100vh;
  background-color: #fff;
  transition: background-color 0.45s ease-in-out;
  &.dark {
    background-color: #111;
  }
}
.story-toolbar {
  padding: 0 24px;
  > .reaction-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    padding: 0 24px;
    margin: 20px auto;
    .reactions,
    .sharing {
      display: flex;
    }
    .share {
      width: 34px;
      height: 34px;
      margin-left: 8px;
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}
