.story {
  max-width: 700px;
  padding: 104px 24px 0 24px;
  margin: 0 auto;
}
.title {
  margin: 18px 0;
  font-size: 3.6rem;
  @media (max-width: 576px) {
    font-size: 3.2rem;
  }
}
.body {
  margin-bottom: 16px;
  font-size: 1.8rem;
  @media (max-width: 576px) {
    font-size: 1.6rem;
  }
}
.title,
.body {
  overflow: hidden;
  color: #222;
  text-overflow: ellipsis;
}
.story.dark {
  .title,
  .body {
    color: #b8b8b8;
  }
}
.form-story {
  input,
  textarea {
    width: 100%;
    color: #222;
    border: none;
  }
  input {
    font-size: 3.6rem;
    @media (max-width: 576px) {
      font-size: 3.2rem;
    }
  }
  textarea {
    min-height: 500px;
    font-size: 1.8rem;
    @media (max-width: 576px) {
      font-size: 1.6rem;
    }
  }
  .genres {
    margin-bottom: 24px;
  }
  .error-message {
    display: block;
    margin-top: 4px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #f01;
  }
  button[type='submit'] {
    width: 100%;
    margin: 24px 0;
  }
  &.dark {
    input,
    textarea,
    button {
      color: #b8b8b8;
    }
    button[type='submit'] {
      color: #222;
      background-color: #b8b8b8;
    }
  }
}
