.wrapper {
  display: flex;
  cursor: pointer;
}
.avatar {
  width: 48px;
  height: 48px;
  margin-right: 14px;
  border-radius: 50%;
}
.name-with-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .name {
    position: relative;
    display: flex;
    font-weight: 600;
    color: #6d47d9;
    &::after {
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 0%;
      content: '';
      border-bottom: 3px solid #6d47d9;
      transition: width 0.4s;
      transition-timing-function: cubic-bezier(1, -0.65, 0, 2.31);
      transform: translateX(-50%);
    }
  }
  .date {
    margin-top: 4px;
    font-size: 1rem;
    color: #aaa;
  }
}
.wrapper:hover {
  .name::after {
    width: 100%;
  }
}
