.wrapper {
  &::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #fffae0;
    background-image:
      url('/static/images/topography.svg'),
      linear-gradient(20deg, #fffae0, #fffae0);
    background-repeat: repeat;
    background-size: 200px, auto;
  }
}
.inner {
  max-width: 1024px;
  min-height: calc(100vh - 124px);
  padding: 20px 20px 40px;
  margin: 0 auto;
  margin-top: 64px;
  @media (max-width: 768px) {
    padding: 20px 0 0;
  }
  &.index {
    margin-top: 0;
  }
}
