.logo {
  margin: 0;
  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
  letter-spacing: -1.5px;
  position: relative;
  z-index: 2;
  a {
    color: #272727;
  }
}
.header {
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fcfcfc;
  z-index: 1;
  display: flex;
  align-items: center;
  will-change: top;
  transition: top 0.3s;
  .bar {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 1024px;
    padding: 0 24px;
    margin: 0 auto;
  }
}
