.title {
  margin-bottom: 12px;
  margin-top: 12px;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 400;
  &:first-of-type {
    margin-top: 0;
  }
}
.block {
  display: flex;
  flex-wrap: wrap;
  > button {
    margin-right: 10px;
    margin-bottom: 12px;
  }
}
.label {
  border: 1px solid #6d47d9;
  color: #272727;
  background-color: #fcfcfc;
  text-transform: initial;
  border-radius: 25px;
  padding: 6px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
  transition: all 0.2s ease;
  &.selected {
    color: #fcfcfc;
    background-color: #6d47d9;
  }
  img {
    width: 12px;
    height: 12px;
    margin-left: 4px;
  }
  &:hover {
    background-color: #6d47d9;
    color: #fcfcfc;
  }
}
.accept-button {
  margin-top: 12px;
  padding: 0 24px;
}
